<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    {% include head-custom.html %}
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="page-header" {% if page.header.overlay_image %}data-overlay-image="{{ page.header.overlay_image }}"{% endif %}>
      <div class="wrapper">
        <h1 class="project-name">{{ page.title | default: site.title }}</h1>
        <p class="project-tagline">{{ page.description | default: site.description }}</p>
        
        {% if page.header.actions %}
          <div class="header-buttons">
            {% for action in page.header.actions %}
              <a href="{{ action.url }}" class="btn">{{ action.label }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </header>
    
    <div class="wrapper">
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
